.MenuView {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;

  padding: 1em;

  width: calc(var(--collapsed-menu-width) - 2em);
  transition: width 0.5s;
  &.expanded {
    width: calc(var(--expanded-menu-width) - 2em);
  }

  background-color: var(--background-color-richer);

  display: flex;
  flex-direction: column;

  hr {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .tagUnderlay {
    position: absolute;
    .lines path {
      stroke: var(--background-color-softer);
    }
    .circles circle {
      fill: var(--background-color-richer);
      stroke: var(--background-color-softer);
      cursor: pointer;

      &:hover {
        fill: var(--text-color-softer);
      }

      &.present {
        fill: var(--text-color);

        &:hover {
          fill: var(--background-color-softer);
        }
      }
    }
  }

  .tagHeader {
    display: flex;
    padding-left: 1em;
    padding-top: 1em;
    .tag {
      position: relative;
      left: 0.4em;
      bottom: 0.15em;
      margin-left: 0.5em;
      transform-origin: 0% 100%;
      transform: rotate(-45deg);
      background-color: var(--text-color);
      color: var(--background-color);
      padding: 0 0.3em;
      &:before {
        position: absolute;
        transform: rotate(45deg);
        left: -0.55em;
        top: 0.22em;
        content: ' ';
        width: 0;
        height: 0;
        border-bottom: 1.15em solid var(--text-color);
        border-right: 1.15em solid transparent;
      }
      cursor: pointer;
      &:hover {
        background-color: var(--text-color-softer);
        color: var(--background-color-softer);
        &:before {
          border-bottom: 1.15em solid var(--text-color-softer);
        }
      }
      &.filtered {
        background-color: var(--background-color);
        color: var(--disabled-color);
        &:before {
          border-bottom: 1.15em solid var(--background-color);
        }

        &:hover {
          background-color: var(--background-color-softer);
          color: var(--text-color-softer);
          &:before {
            border-bottom: 1.15em solid var(--background-color-softer);
          }
        }
      }

    }
  }

  .datasetList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .dataset {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0.5em;
      .folderStuff {
        display: flex;
        .opener {
          display: none;
        }
        .icon {
          width: 1em;
          margin-right: 0.5em;
          filter: url(#recolorImageTo--text-color-softer);
          cursor: grab;
        }
      }
      &.isFolder {
        justify-content: flex-start;

        .folderStuff {
          .opener {
            display: initial;
            margin-right: 0.5em;
            &:after {
              cursor: pointer;
              content: '+';
            }
            &.open:after {
              content: '-';
            }
          }
        }
      }
      .label {
        margin-right: 0.5em;
      }
      .button {
        flex-grow: 1;
        margin: 0;
      }
    }
  }
  &.expanded .datasetList .dataset .button {
    flex-grow: 0;
  }
}
