.MenuView {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;

  padding: 1em;

  width: calc(var(--collapsed-menu-width) - 2em);
  transition: width 0.5s;
  &.expanded {
    width: calc(var(--expanded-menu-width) - 2em);
  }

  background-color: var(--background-color-richer);

  display: flex;
  flex-direction: column;

  hr {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .datasetList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .dataset {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0.5em;
      .folderStuff {
        display: flex;
        .opener {
          display: none;
        }
        .icon {
          width: 1em;
          margin-right: 0.5em;
          filter: url(#recolorImageTo--text-color-softer);
          cursor: grab;
        }
      }
      &.isFolder {
        justify-content: flex-start;

        .folderStuff {
          .opener {
            display: initial;
            margin-right: 0.5em;
            &:after {
              cursor: pointer;
              content: '+';
            }
            &.open:after {
              content: '-';
            }
          }
        }
      }
      .tagStuff {

      }
      .label {
        margin-right: 0.5em;
      }
      .button {
        flex-grow: 1;
        margin: 0;
      }
    }
  }
  &.expanded .datasetList .dataset .button {
    flex-grow: 0;
  }
}
