@import '../../style/colors.less';

.GanttView {
  text {
    font: 9px sans-serif;
  }

  .yAxis line {
    stroke-weight: 1px;
    stroke: @separatorColor;
  }

  .outline {
    fill: none;
    stroke-width: 1px;
    stroke: @overviewColor;
  }
  .area {
    stroke: none;
    opacity: 0.25;
    fill: @overviewColor;
  }
  .selectedPrimitive {
    .outline { stroke: @selectedPrimitiveColor; }
    .area { fill: @selectedPrimitiveColor; }
  }
}
