@import '../../style/colors.less';

.TreeView {
  &.lm_content {
    overflow: auto;
  }
  text {
    font: 9px sans-serif;
  }
  .node {
    cursor: pointer;

    .mainGlyph {
      .area {
        stroke: none;
      }
      .outline {
        fill: none;
        stroke-width: 3px;
        opacity: 0.25;
        stroke: @overviewColor;
      }
      .unknownValue {
        fill: @separatorColor;
      }
      &:hover .outline {
        opacity: 0.75;
      }
    }
    &.selected .mainGlyph .outline {
      opacity: 1;
    }

    .expander {
      .outline {
        fill: none;
        stroke-width: 1px;
        stroke: @overviewColor;
      }
      .area {
        stroke: none;
        opacity: 0.1;
        fill: @overviewColor;
      }
      &:hover .area {
        opacity: 0.5;
      }
    }
  }
  .link {
    fill: none;
    stroke-width: 1px;
    stroke: @separatorColor;
  }
}
