@import '../../style/colors.less';

.TreeView {
  text {
    font: 9px sans-serif;
  }
  .node {
    cursor: pointer;

    .outline {
      fill: none;
      stroke-width: 1px;
      stroke: @overviewColor;
    }
    .area {
      stroke: none;
      opacity: 0.25;
      fill: @overviewColor;
    }
  }
  .link {
    fill: none;
    stroke-width: 1px;
    stroke: @separatorColor;
  }
}
