<g class="tree">
  <g class="linkLayer"></g>
  <g class="extraLinkLayer"></g>
  <g class="nodeLayer"></g>
</g>
<g class="legend"></g>
<foreignObject class="colorModeToggle" height="50" y="50">
  <div class="wrapper1">
    <div class="wrapper2">
      <input type="radio" id="inclusiveTimeRadio" name="colorModeToggle" data-mode="inclusive"/>
      <label for="inclusiveTimeRadio">Inclusive</label>
    </div>
    <div class="wrapper2">
      <input type="radio" id="exclusiveTimeRadio" name="colorModeToggle" data-mode="exclusive"/>
      <label for="exclusiveTimeRadio">Exclusive</label>
    </div>
  </div>
</foreignObject>
