<g class="tree">
  <g class="linkLayer"></g>
  <g class="extraLinkLayer"></g>
  <g class="nodeLayer"></g>
</g>
<g class="legend"></g>
<foreignObject class="key" height="75" y="50">
  <div class="wrapper1">
    <span>Time:</span>
    <div class="wrapper2">
      <input type="radio" id="inclusiveTimeRadio" name="colorModeToggle" data-mode="inclusive"/>
      <label for="inclusiveTimeRadio">Inclusive</label>
    </div>
    <div class="wrapper2">
      <input type="radio" id="exclusiveTimeRadio" name="colorModeToggle" data-mode="exclusive"/>
      <label for="exclusiveTimeRadio">Exclusive</label>
    </div>
  </div>
  <div class="wrapper1">
    <span>Execution:</span>
    <div class="wrapper2">
      <svg><path data-eval-type="1"></path></svg>Sync
    </div>
    <div class="wrapper2">
      <svg><path data-eval-type="0"></path></svg>Async
    </div>
    <div class="wrapper2">
      <svg><path data-eval-type="-1"></path></svg>Hybrid
    </div>
  </div>
</foreignObject>
