package-lock.json

# we want to include specific files inside node_modules and ignore the rest...

# unignore node_modules dir itself
!node_modules/
node_modules/*

!node_modules/uki/
node_modules/uki/*
!node_modules/uki/dist/
node_modules/uki/dist/*
!node_modules/uki/dist/uki.esm.js

!node_modules/d3/
node_modules/d3/*
!node_modules/d3/dist/
node_modules/d3/dist/*
!node_modules/d3/dist/d3.min.js

!node_modules/oboe/
node_modules/oboe/*
!node_modules/oboe/dist/
node_modules/oboe/dist/*
!node_modules/oboe/dist/oboe-browser.min.js

!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/dist/
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js

!node_modules/less/
node_modules/less/*
!node_modules/less/dist/
node_modules/less/dist/*
!node_modules/less/dist/less.min.js

!node_modules/golden-layout/
node_modules/golden-layout/*
!node_modules/golden-layout/dist/
node_modules/golden-layout/dist/*
!node_modules/golden-layout/dist/goldenlayout.min.js

!node_modules/codemirror/
node_modules/codemirror/*
!node_modules/codemirror/lib/
node_modules/codemirror/lib/*
!node_modules/codemirror/lib/codemirror.js
!node_modules/codemirror/lib/codemirror.css
!node_modules/codemirror/mode/
node_modules/codemirror/mode/*
!node_modules/codemirror/mode/scheme/
node_modules/codemirror/mode/scheme/*
!node_modules/codemirror/mode/scheme/scheme.js
!node_modules/codemirror/mode/python/
node_modules/codemirror/mode/python/*
!node_modules/codemirror/mode/python/python.js
!node_modules/codemirror/mode/clike/
node_modules/codemirror/mode/clike/*
!node_modules/codemirror/mode/clike/clike.js
!node_modules/codemirror/addon/
node_modules/codemirror/addon/*
!node_modules/codemirror/addon/selection/
node_modules/codemirror/addon/selection/*
!node_modules/codemirror/addon/selection/active-line.js
!node_modules/codemirror/theme/
node_modules/codemirror/theme/*
!node_modules/codemirror/theme/base16-light.css
