@import './fonts.less';
@import './colors.less';
@import './measurements.less';

@import './buttons.less';

@import './goldenlayout-base.less';
@import './goldenlayout-custom-theme.less';

html, body {
  padding: 0;
  margin: 0;
}
body {
  font-family: @bodyFontFamily;
  font-weight: @bodyFontWeight;
  color: @textColor;
}
h1, h2, h3, h4, h5, h6, .lm_header .lm_tab {
  font-family: @headerFontFamily;
  font-weight: @headerFontWeight;
}
pre, code {
  font-family: @fixedFontFamily;
  font-weight: @fixedFontWeight;
}

#layoutRoot {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: @summarySize;
  right: 0px;
  bottom: 0px;
}

#modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  background-color: fade(@shadowColor, 75%);
  z-index: 1000;
  .contents {
    position: relative;
    background-color: @backgroundColor;
    border: 1px solid @shadowColor;
    border-radius: @borderRadius;
    box-shadow: 0.5em 0.5em 2em @shadowColor;
    min-width: 20em;
    max-width: calc(100% - @modalMargin);
    min-height: 20em;
    max-height: calc(100% - @modalMargin);
    margin: auto;
    padding: 1em;
  }
}

.scrollArea {
  position: absolute;
  top: @contentPadding;
  left: @contentPadding;
  right: @contentPadding;
  bottom: @contentPadding;
  overflow: auto;
}

.emptyState {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: @contentPadding;
  right: @contentPadding;
  text-align: center;
  pointer-events: none;
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: center / 3em no-repeat url('/static/img/spinner.gif'), rgba(255,255,255,0.75);
}

// TODO: this should probably be moved closer to views/common/SVGMiveMixin.js
.lm_header .lm_tab.svgTab {
  padding-right: 36px;
  .downloadIcon {
    position: absolute;
    width: 11px;
    height: 11px;
    background-image: data-uri('../img/download.svg');
    background-position: center center;
    background-repeat: no-repeat;
    top: 4px;
    right: 6px;
    margin-right: 13px;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}
