<p>Node key</p>
<p><svg class="node-shape-triangle"></svg> subtree hidden </p>
<p><svg class="node-shape-circle"></svg> no hidden subtree </p>
<p><svg class="node-line-key">
    <path d="M 2 5 L 18 5" stroke-dasharray="3,3" stroke="black" /></svg> synchronous (direct)</p>
<p><svg class="node-line-key">
    <path d="M 2 5 L 18 5" stroke="black" /></svg> asynchronous (normal)</p>
<p><svg class="node-line-key">
    <path d="M 2 5 L 18 5" stroke-dasharray="3,1" stroke="black" /></svg> undecided</p>
<p>Inclusive <label class="toggleswitch"><input type="checkbox" id="myCheck" onclick="toggleSwitchAction()"><span
    class="slider"></span></label> Exclusive </p>
<button type="button" onclick="downloadTree()">Download tree</button>
