.IntervalHistogramView {
  text {
    font: 9px sans-serif;
    fill: var(--text-color);
  }
  .chart {
    cursor: crosshair;
  }
  .background rect {
    fill: transparent;
  }
  .bars {
    .bar {
      cursor: pointer;
      line {
        stroke: var(--text-color-softer);
        stroke-width: 3px;
      }
      &.selected line {
        stroke: var(--selection-color);
      }
    }
  }
  .brush {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }

    .outline {
      stroke: var(--selection-color);
    }
    .area {
      fill: var(--selection-border-color);
      opacity: 0.25;
    }

    .hoverTarget {
      fill: transparent;
    }
    .leftHandle .hoverTarget {
      cursor: w-resize;
    }
    .rightHandle .hoverTarget {
      cursor: e-resize;
    }
  }
  select {
    position: absolute;
    left: 1em;
    bottom: 1em;
    margin-bottom: 0;
  }
}
