.UtilizationView {
  .mini {
    text {
      font: 9px sans-serif;
    }
    .mini_background {
      fill: white;
    }
    .outline {
      fill: none;
      stroke-width: 1px;
      stroke: #333333;
    }
    .area {
      stroke: none;
      fill: #333333;
      opacity: 0.25;
    }
    .brush {
      cursor: ew-resize;

      .hoverTarget {
        fill: transparent;
      }
      .leftHandle .hoverTarget {
        cursor: w-resize;
      }
      .rightHandle .hoverTarget {
        cursor: e-resize;
      }
    }
  }
}
