.UtilizationView {
  .mini {
    text {
      font: 9px sans-serif;
    }
    .mini_background {
      fill: white;
    }
    .overviewBar rect {
      stroke: black;
      stroke-width: 1px;
    }
  }
}
