<input class="hiddenUpload" type="file" multiple style="display:none"/>
<div class="upload button">
  <a></a>
  <div class="label">Choose Files...</div>
</div>
<div class="selectedFiles"></div>
<textarea class="uploadLog" readonly></textarea>
<div class="buttonContainer">
  <img class="uploadSpinner" src="/static/img/spinner.gif" style="display:none"/>
  <div class="cancel button">
    <a></a>
    <div class="label">Cancel</div>
  </div>
  <div class="ok button">
    <a></a>
    <div class="label">OK</div>
  </div>
</div>
